*{
	outline: none;
}
body{
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}
h2{
	font-size: 24px;
}
p{
	font-weight: 300;
	font-size: 13px;
	line-height: 16px;
}
footer{
	background-color: #c9210c;
	color:#fff;
	font-size: 12px;
	font-weight: 300; 
	a{
		color: #fff;
		font-size: 13px;
		&:hover{
			text-decoration: underline;
			color: #fff;
		}
	}
}


.btn-custom{
	padding: 15px 30px;
	background-color: #ffa200;
	color: #fff;
}
.icon{
	width: 25%;
    display: block;
}